<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="yabandpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>YaBandPay</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wechatpay_active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>WeChat Pay Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="wechatpay_desc" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WeChat Pay Description</label>
                </field>
                <field id="alipay_active" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Alipay Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="alipay_desc" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alipay Description</label>
                </field>
                <field id="ideal_active" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>iDeal Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ideal_desc" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>iDeal Description</label>
                </field>
                <field id="sofort_digital_active" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sofort Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sofort_digital_desc" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sofort Description</label>
                </field>
                <!--<field id="sofort_physical_active" translate="label" type="select" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="0">-->
                    <!--<label>Sofort/Physical Enabled</label>-->
                    <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                <!--</field>-->
                <!--<field id="sofort_physical_desc" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">-->
                    <!--<label>Sofort/Physical Description</label>-->
                <!--</field>-->
                <field id="bancontact_active" translate="label" type="select" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Bancontact Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="bancontact_desc" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bancontact Description</label>
                </field>
                <field id="visa_active" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Visa Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="visa_desc" translate="label" type="text" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Visa Description</label>
                </field>
                <field id="mastercard_active" translate="label" type="select" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mastercard Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="mastercard_desc" translate="label" type="text" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mastercard Description</label>
                </field>
                <field id="pending_status" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>YaBandPay\Payment\Model\Config\Source\Order\Status\Order</source_model>
                </field>
                <field id="order_paid_status" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Completed Status</label>
                    <source_model>YaBandPay\Payment\Model\Config\Source\Order\Status\Order</source_model>
                </field>
                <field id="username" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>YaBand Account</label>
                </field>
                <field id="token" translate="label" type="password" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>YaBand Token</label>
                </field>
                <field id="currency" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Currency</label>
                    <source_model>YaBandPay\Payment\Model\Config\Source\Currency</source_model>
                </field>
                <field id="fee" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fee(%)</label>
                </field>
                <field id="auto_send_email" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto Send Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_invoice" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- payment-group -->
        </section>
    </system>
</config>
